/*Body*/
body {
  background-color: #111111;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Menu*/
#menu {
  outline: 1px solid white;
  opacity: 0.7;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 5vh;
  font-size: 1em;
  /**/
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-weight: bold;
  /**/
  z-index: 3;
}
#menu > * :hover {
  opacity: 1;
  font-size: 1.1em;
}
#menu > * {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 0 3vw;
}
/*Main*/
#home, #about, #program, #tickets, #contact {
  position: absolute;
  width: 100%;
  height: 95vh;
  padding-top: 5vh;
  background-color: #111111;
  background-image: url("https://media.giphy.com/media/Yqn9tE2E00k4U/giphy.gif");
  background-size: cover;
  display: flex;
  z-index: 0;
}

/*Home*/
#home{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

#home > * {
  font-size: 4em;
  background-color: hsla(0, 0%, 0%, 0.9);
  padding: 0.5vh 3vw;
  margin: 0 5vw;
}

#home> h2 {
  align-self: flex-end;
}

#home>h3 {
  font-size: 2em;
  font-weight: lighter;
}

/*About*/

#about {
  background-color:white;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#about>* {
  font-size: large;
  width: 60vw;
  padding: 0 2vw;
  background-color: hsla(0, 0%, 0%, 0.7);
  padding: 5vh  5vw  1vh  5vw;
  margin: 0 2vw;

}

#about>h1 {
  color: white;
  opacity: 0.8;
  text-align: right;
}

#about>p {

}


/*Program*/
#program {
  display: none;
  justify-content: space-between;
}
#pr-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
#pr-info>div:hover {
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}
#pr-info>div:active {
    color: white;
    cursor: pointer;

}
#add-info {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 2vw;
  align-content: space-around;
  background-color: white;
  color: black;
  flex-grow: 3;
}
.artist {
  display: flex;
  font-size: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  background-color: black;
  outline: 1px solid white;
  text-decoration: none;
  color: gray;
  transition: color 1s, text-decoration 2s, font-size 2s;
}
#perc {
  display: block;
  z-index: 1;
}
#nrmn {
  display:  none;
    z-index: 0;
}
#wc {
  display: none;
    z-index: 0;
}
/*Tickets */
#tickets {
  display: none;
  justify-content: space-around;
  align-items: center;
}

/*contact */
#contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/*Arrows*/
.arrow-bg {
  position: fixed;
  height: 100vh;
  width: 5vw;
  background-color: black;
  box-shadow: 0 0 3vw 3vw black;
  opacity: 0.1;
  z-index: 2;

}
.arrow-bg:hover {
  opacity: 0.3;
  cursor: pointer;
}
.left-bg {

}
.right-bg {
  right: 0vw;
}
.arrows {
  border-bottom: 1vh solid;
  border-left: 1vh solid;
  position: fixed;
  width: 4vh;
  height: 4vh;
  border-color: white;
  opacity: 0.3;
  bottom: 5vh;
  z-index: 3;
  transition: width 1s, height 1s;
}

.arrows:hover {
    opacity: 1;
}

.arrows:active {
  width: 4vh;
  height: 5vh;
}


.prev {

  transform: rotate(45deg);
  left: 5vw;
  transition: left 1s;
}

.next {
  transform: rotate(225deg);
  right: 5vw;
  transition: right 1s;
}

.prev:active {
  left: 4vw;
}
.next:active {
  right: 4vw;
}

/*form*/

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: black;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

[placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }

form {
  width: 60vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input[type="text"] {
  width: 50vw;
  border: 1px solid white;
  background: black;
  color: white;
  padding: 1vh 1vw;
  margin: 3vh 0 3vh 3vw;
}

textarea {
    color: white;
  width: 50vw;
  height: 20vh;
  border: 1px solid gray;
  background:black ;
  padding: 1vh 1vw;
  margin: 3vh 0 0 3vw;
}


#submit {
  display: block;
  padding: 1vh 1vw;
  background-color: black;
  border: 1px solid white;
  color: white;
  margin: 3vw;
}
#submit:hover {
  color: gray;
  cursor: pointer;
}
#submit:active {
  color: white;
  cursor: pointer;
}
